{% extends 'base.html.twig' %}

{% block title %}Neue Notiz erstellen{% endblock %}

{% block body %}
    <link rel="stylesheet" href="/style.css">

    <h1>Hallo {{ user.username }} </h1>
    <h1><a href="{{ url("paste.index") }}">Alle Notizen anzeigen</a></h1>

    <form action="/logout">
        <input type="submit" value="logout" />
    </form>

    <h2>Neue Notizen erstellen</h2>
    <form action="{{ path('paste.store') }}" enctype="multipart/form-data" method="post">
        <label for="url">Gewünschte URL:</label>
        <input id="url" name="url" type="text" placeholder="Wunsch-URL der Notiz"/><br>
        <label><abbr title="Time To Live (Nach Ablauf der TTL wird die Notiz gelöscht)">TTL:</abbr></label>
        <input type="radio" name="TTL" value="10 minutes">Zehn Minuten</input>
        <input type="radio" name="TTL" value="1 day">Ein Tag</input>
        <input type="radio" name="TTL" value="1 week">Eine Woche</input>
        <input type="radio" name="TTL" value="2 weeks" checked>Zwei Wochen</input>
        <input type="radio" name="TTL" value="1 month">Einen Monat</input>
        <input type="radio" name="TTL" value="3 months">Drei Monate</input>
        <br><br>
        <label for="content">Notiz:</label>
        <br>
        <br>
        <textarea placeholder="Notizen bitte hier hinein" id="content" name="content" class="ui-autocomplete-input"
                  autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"></textarea><br>
        <input name="files[]" type="file" multiple><br>

        <button type="submit">Ab dafür</button>
    </form>


{% endblock %}
