{% extends 'base.html.twig' %}

{% block title %}Neue Pastierung erstellen{% endblock %}

{% block body %}
    <link rel="stylesheet" href="/style.css">

    <h1>Hallo {{ user.username }} </h1>
    <form action="/logout">
        <input type="submit" value="logout" />
    </form>

    <h2>Neue Pastierung erstellen</h2>
    <form method="post">
        <label for="url">Gewünschte URL:</label><br>
        <input id="url" name="url" type="text" placeholder="Wunsch-URL der Pasta"/>
        <label for="content">Pastierungsinhalt:</label><br>
        <textarea placeholder="Paste bitte hier hinein" id="content" name="content" class="ui-autocomplete-input"
                  autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"></textarea><br>
        <input type="submit" value="Ab dafür"/>
    </form>


{% endblock %}
